@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}
.ff_Poppins {
  font-family: "Poppins";
}
.ff_Jakarta {
  font-family: "Plus Jakarta Sans" !important;
}
.fs_20 {
  font-size: 14px;
}
.fs_22 {
  font-size: 22px;
}
.fs_24 {
  font-size: 14px;
}
.fs_28 {
  font-size: 28px;
}
.fs_32 {
  font-size: 32px;
}
.fs_36 {
  font-size: 36px;
}
.fs_40 {
  font-size: 14px;
}
.fs_64 {
  font-size: 28px;
}
.fs_72 {
  font-size: 28px;
}
.lh_55 {
  line-height: 55%;
}
.lh_77 {
  line-height: 77%;
}
.lh_100 {
  line-height: 100%;
}
.lh_118 {
  line-height: 118%;
}
.lh_122 {
  line-height: 122%;
}
.lh_125 {
  line-height: 125%;
}
.lh_132 {
  line-height: 132%;
}
.lh_140 {
  line-height: 140%;
}
.lh_158 {
  line-height: 158%;
}
.lh_175 {
  line-height: 175%;
}
.common_clr_blue {
  color: #0c135c;
}
.common_clr_black {
  color: #000000;
}
.txt_clr_orange {
  color: #f7931f;
}
.text_clr_light_grey {
  color: #999999;
}
.txt_clr_grey {
  color: #403a3a;
}
.mt_68 {
  margin-top: 20px;
}
.space_jason {
  margin-top: 177px;
  margin-bottom: 167px;
}
.common_bttn {
  padding: 8px 24px;
  background: #f7931f;
  border: none;
  border-radius: 94px;
}
.common_card {
  width: 428px;
  height: 792px;
  padding: 20px 24px;
  background: #0c135c;
}
.header_img {
  max-width: 872px !important;
  height: 304px !important;
  border-radius: 47px;
}
.common_underline::after {
  position: absolute;
  content: "";
  width: 100%; /* Set the width to 100% to make it permanent */
  height: 4px;
  bottom: 0px;
  right: 0;
  display: block;
  background-color: #0c135c;
}
.common_underline::after {
  position: absolute;
  content: "";
  width: 100%; /* Set the width to 85% to make it permanent */
  height: 4px;
  bottom: 0px;
  right: 0;
  display: block;
  background-color: #0c135c;
}
.card_common_img {
  width: 382px;
  height: 338px;
}
.video {
  width: 100%;
  max-width: 527px;
  border-radius: 34px;
}
.bg_current {
  background-color: #0c135c;
}
.space_unlikely {
  margin-top: 133px;
}
.space_get {
  margin-top: 202px;
}
.space_current {
  padding-top: 105px;
  padding-bottom: 96px;
}
.space_slider {
  margin-top: 108px;
}
.slider_width {
  width: 100%;
  height: 2000px !important; /* Ensure it occupies full width of the container */
}
.space_testimonials {
  padding-top: 125px;
  padding-bottom: 138px;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;
  top: 20px !important;
  left: 0;
  width: 100%;
}
.card_slider {
  width: 680px;
  height: 543px;
  background-color: #fdfdfd;
  border-radius: 26px;
  box-shadow: 0px 0px 22px 2px #1b1919;
  padding: 70px 56px;
}
.slider_image {
  width: 207px;
  height: 182px;
}
.img_pstn_slider {
  transform: translateX(-50%) !important;
  transform: translateY(-50%) !important;
  top: 0%;
  left: 36%;
}
.space_slider_testimonials {
  margin-top: 60px;
}
.row_bg {
  background-color: #0c135c;
}
.form-control {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
  padding: 0px 0px 25px 0px !important;
  outline: none !important; /* Prevent default outline */
  box-shadow: none !important; /* Remove focus box-shadow */
  border-bottom: 2px solid white !important; /* Add white underline */
  border-radius: 0 !important; /* Remove rounded corners */
  width: 90%;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-control:hover {
  outline: none;
  box-shadow: none;
}
#name.form-control::placeholder {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
}
#email.form-control::placeholder {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
}
#message.form-control::placeholder {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
}
.form_bttn{
  padding: 14px 86px;
  border-radius: 100px;
  background-color: #F7931F;
  border: none;
}
.space_contact{
  margin-bottom: 198px;
}
.space_row{
  margin-top: 58px;
  margin-bottom: 137px;
}
@media (min-width: 768px) {
  .fs_72 {
    font-size: 36px;
  }
  .fs_24 {
    font-size: 14px;
  }
  .fs_20 {
    font-size: 14px;
  }
  .common_bttn {
    padding: 6px 20px;
  }
  .header_img {
    height: 404px !important;
    max-width: 450px !important;
  }
  .img_unlikely {
    width: 50% !important;
  }
  .fs_64 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .fs_72 {
    font-size: 46px;
  }
  .fs_64 {
    font-size: 46px;
  }
  .fs_40 {
    font-size: 26px;
  }
  .fs_24 {
    font-size: 16px;
  }
  .common_bttn {
    padding: 6px 26px;
  }
  .fs_20 {
    font-size: 16px;
  }
  .header_img {
    border-radius: 47px;
  }
  .img_unlikely {
    width: 100% !important;
  }
  .mt_68 {
    margin-top: 28px;
  }
}
@media (min-width: 1440px) {
  .fs_72 {
    font-size: 72px;
  }
  .fs_64 {
    font-size: 64px;
  }
  .fs_40 {
    font-size: 40px;
  }
  .fs_24 {
    font-size: 24px;
  }
  .fs_20 {
    font-size: 20px;
  }
  .mt_68 {
    margin-top: 68px;
  }
}
