@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}
.ff_Poppins {
  font-family: "Poppins";
}
.ff_Jakarta {
  font-family: "Plus Jakarta Sans" !important;
}
.fs_16 {
  font-size: 14px;
}
.fs_18 {
  font-size: 14px;
}
.fs_20 {
  font-size: 14px;
}
.fs_22 {
  font-size: 14px;
}
.fs_24 {
  font-size: 14px;
}
.fs_28 {
  font-size: 16px;
}
.fs_32 {
  font-size: 18px;
}
.fs_36 {
  font-size: 22px;
}
.fs_20 {
  font-size: 14px;
}
.fs_48 {
  font-size: 27px;
}
.fs_56 {
  font-size: 28px;
}
.fs_72{
  font-size: 72px;
}
.lh_55 {
  line-height: 55%;
}
.lh_77 {
  line-height: 77%;
}
.lh_100 {
  line-height: 100%;
}
.lh_118 {
  line-height: 118%;
}
.lh_122 {
  line-height: 122%;
}
.lh_125 {
  line-height: 125%;
}
.lh_132 {
  line-height: 132%;
}
.lh_140 {
  line-height: 140%;
}
.lh_151 {
  line-height: 151%;
}
.lh_158 {
  line-height: 158%;
}
.lh_175 {
  line-height: 175%;
}
.common_clr_blue {
  color: #0c135c;
}
.bg-common_clr_blue {
  background-color: #0c135c;
}
.common_clr_black {
  color: #000000;
}
.txt_clr_orange {
  color: #f7931f;
}
.text_clr_light_grey {
  color: #999999;
}
.txt_clr_grey {
  color: #403a3a;
}
.mt_90 {
  margin-top: 20px;
}
.space_jason {
  margin-top: 40px;
  margin-bottom: 40px;
}
.common_bttn {
  padding: 8px 24px;
  background: #f7931f;
  border: none;
  border-radius: 94px;
  box-shadow: inset 0px 4px 8px -4px #000000;
}
.common_card {
  border-radius: 24px;
  width: 100%;
  max-width: 419px;
  height: 100%;
  background: #0c135c;
}
.card_img_rds {
  min-height: 240px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.header_img {
  max-width: 872px !important;
  height: 304px !important;
  border-radius: 47px;
}
.common_underline::after {
  position: absolute;
  content: "";
  width: 100%; /* Set the width to 100% to make it permanent */
  height: 4px;
  bottom: -5px;
  right: 0;
  display: block;
  background-color: #0c135c;
}
.common_underline::after {
  position: absolute;
  content: "";
  width: 100%; /* Set the width to 85% to make it permanent */
  height: 4px;
  bottom: -5px;
  right: 0;
  display: block;
  background-color: #0c135c;
}
.video {
  width: 100%;
  max-width: 527px;
  border-radius: 34px;
}
.bg_current {
  background-color: #0c135c;
}
.space_unlikely {
  margin-top: 40px;
}
.space_get {
  margin-top: 40px;
}
.space_current {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space_slider {
  margin-top: 30px;
}
.slider_width {
  width: 100%;
  height: 2000px !important; /* Ensure it occupies full width of the container */
}
.space_testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;
  top: 20px !important;
  left: 0;
  width: 100%;
}
.card_slider {
  width: 100%;
  height: 100%;
  max-width: 514px;
  min-height: 453px;
  background-color: #fdfdfd;
  border-radius: 26px;
  box-shadow: 0px 0px 22px 2px #1b1919;
  padding: 10px 10px;
}
.row_border {
  border-radius: 24px;
}
.row_bg {
  background-color: #0c135c;
}
.contact_img_rds {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.form-control {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
  padding: 18px 0px 0px 0px !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid white !important;
  border-radius: 0 !important;
  width: 90%;
  position: relative;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-control:hover {
  outline: none;
  box-shadow: none;
}
.form-control::placeholder {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 18px;
}
.form-control:focus::placeholder,
.form-control:not(:focus):valid::placeholder {
  opacity: 1;
  transform: translateY(-150%);
  font-size: 14px;
  color: #ffffff;
}
.form-control:not(:focus):valid::placeholder {
  transform: translateY(-150%);
  font-size: 14px;
}
#name.form-control::placeholder,
#email.form-control::placeholder,
#message.form-control::placeholder {
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans" !important;
  font-weight: 600;
}
.form_bttn {
  padding: 14px 86px;
  border-radius: 100px;
  background-color: #f7931f;
  border: none;
}
.space_contact {
  margin-bottom: 40px;
}
.space_row {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-container {
  position: relative;
  box-shadow: 0px -10px 45px #000000;
  z-index: 1;
  background-color: #fff;
}
.menuicon {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease;
  position: relative !important;
  z-index: 11 !important;
}
.menuicon.cross:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menuicon.cross:nth-child(2) {
  opacity: 0;
}
.menuicon.cross:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -12px);
}
/* ===============================          SCHOOL             ================================ */
/* ///////////////////////////////////////////////////////////////////.        DO YOU.         ////////////////////////////////////////////////////////////////////// */
.py-do-you {
  padding: 145px 0;
}
.do_you_bttn {
  border-radius: 60px;
  background-color: #f7931f;
  padding: 16.5px 37px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}
.gap_padding_btn_do_you {
  gap: 20px;
  padding-top: 31px;
}
.max_w_590 {
  max-width: 590px;
}
.gap_do_you_image {
  gap: 31px;
}
.single_girl {
  max-width: 255px;
  max-height: 214px;
}
.happy_children {
  max-width: 239px;
  max-height: 292px;
}
.baby_boy {
  max-width: 285px;
  max-height: 326px;
}
.drawing_children {
  max-width: 316px;
  max-height: 214px;
}
.image_box {
  padding: 32px 53px 34px 53px;
  background-color: #ffbb12;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  border-radius: 20px;
}
.do_you_dashed_btn {
  border-radius: 60px;
  padding: 16.5px 52px;
  border: 2px dashed #474b71;}
/* aboutus-css */
.bg_about_us{
  background-color: #0C135C;
}
.space_aboutus{
  padding-top: 136px;
  padding-bottom: 198px;
}
@media (max-width: 1022px) {
  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 10; /* Ensure the menu is above other content */
    transition: right 0.3s ease-in-out;
    overflow: hidden;
  }

  nav ul.open {
    right: 0; /* Move the menu into view */
  }

  .navicon {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
  }
}
@media (min-width: 768px) {
  .fs_16 {
    font-size: 16px;
  }
  .card_img_rds {
    min-height: 339px;
  }
  .fs_18 {
    font-size: 18px;
  }
  .fs_36 {
    font-size: 30px;
  }
  .fs_28 {
    font-size: 22px;
  }
  .fs_22 {
    font-size: 16px;
  }
  .card_slider {
    padding: 30px 55px;
  }
  .space_row {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .space_contact {
    margin-bottom: 60px;
  }
  .space_testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .space_slider {
    margin-top: 40px;
  }
  .space_jason {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .space_get {
    margin-top: 60px;
  }
  .space_unlikely {
    margin-top: 60px;
  }
  .fs_32 {
    font-size: 32px;
  }
  .fs_56 {
    font-size: 36px;
  }
  .fs_24 {
    font-size: 14px;
  }
  .fs_20 {
    font-size: 14px;
  }
  .common_bttn {
    padding: 6px 20px;
  }
  .header_img {
    height: 404px !important;
    max-width: 450px !important;
  }
  .img_unlikely {
    width: 50% !important;
  }
  .fs_48 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .fs_32 {
    font-size: 26px;
  }
  .space_row {
    padding-top: 58px;
    padding-bottom: 90px;
  }
  .space_contact {
    margin-bottom: 90px;
  }
  .space_testimonials {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .fs_28 {
    font-size: 22px;
  }
  .fs_36 {
    font-size: 28px;
  }
  .fs_22 {
    font-size: 16px;
  }
  .space_slider {
    margin-top: 108px;
  }
  .card_slider {
    padding: 70px 26px;
  }
  .space_jason {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .fs_56 {
    font-size: 46px;
  }
  .fs_48 {
    font-size: 46px;
  }
  .fs_20 {
    font-size: 26px;
  }
  .fs_24 {
    font-size: 16px;
  }
  .common_bttn {
    padding: 6px 26px;
  }
  .fs_20 {
    font-size: 16px;
  }
  .header_img {
    border-radius: 47px;
  }
  .img_unlikely {
    width: 100% !important;
  }
  .mt_90 {
    margin-top: 28px;
  }
}
@media (min-width: 1320px) {
  .custom_container {
    width: 1320px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .space_unlikely {
    margin-top: 175px;
  }
  .space_current {
    padding-top: 68px;
    padding-bottom: 150px;
  }
  .header_img {
    max-width: 634px !important;
    height: 551px !important;
  }
  .space_get {
    margin-top: 94px;
  }
  .fs_36 {
    font-size: 36px;
  }
  .fs_28 {
    font-size: 28px;
  }
  .fs_22 {
    font-size: 22px;
  }
  .space_contact {
    margin-bottom: 198px;
  }
  .space_row {
    padding-top: 58px;
    padding-bottom: 137px;
  }
  .space_testimonials {
    padding-top: 125px;
    padding-bottom: 138px;
  }
  .space_jason {
    margin-top: 177px;
    margin-bottom: 167px;
  }
  .fs_56 {
    font-size: 56px;
  }
  .fs_48 {
    font-size: 48px;
  }
  .fs_20 {
    font-size: 20px;
  }
  .fs_24 {
    font-size: 24px;
  }
  .fs_20 {
    font-size: 20px;
  }
  .mt_90 {
    margin-top: 90px;
  }
}